{% extends 'base.html.twig' %}

{% block title %}Reader index{% endblock %}

{% block body %}
    <h1>Reader index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>DateOfBirth</th>
                <th>Gender</th>
                <th>PhoneNumber</th>
                <th>Address</th>
                <th>Password</th>
                <th>ProfilePicture</th>
                <th>Roles</th>
                <th>IsActive</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reader in readers %}
            <tr>
                <td>{{ reader.id }}</td>
                <td>{{ reader.firstName }}</td>
                <td>{{ reader.lastName }}</td>
                <td>{{ reader.email }}</td>
                <td>{{ reader.dateOfBirth }}</td>
                <td>{{ reader.gender }}</td>
                <td>{{ reader.phoneNumber }}</td>
                <td>{{ reader.address }}</td>
                <td>{{ reader.password }}</td>
                <td>{{ reader.profilePicture }}</td>
                <td>{{ reader.roles }}</td>
                <td>{{ reader.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ reader.createdAt ? reader.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_reader_show', {'id': reader.id}) }}">show</a>
                    <a href="{{ path('app_reader_edit', {'id': reader.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reader_new') }}">Create new</a>
{% endblock %}
